{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-3">
    <div class="row g-3">
        {% for pokemon in owned %}
          <div class="col-md-2">
            <div class="card">
              <img src="{{pokemon['f_shiny']}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{pokemon['name'].capitalize()}}</h5>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}




<!-- <h2 class="card-title mb-5">{{pokemon['name'].capitalize()}}<span style="float: right;"><button id="{{pokemon['name']}}sound" type="button" class="btn btn-primary">Hear cry!</button></span></h2>
<audio id="sound{{pokemon['name']}}" src="https://play.pokemonshowdown.com/audio/cries/{{pokemon['name']}}.mp3"></audio>
<script>   
  document.getElementById("{{pokemon['name']}}sound").addEventListener("click", function(){ document.getElementById("sound{{pokemon['name']}}").play(); });   
</script> -->