{% extends "base.html" %}

{% block content %}
<div class="container text-center my-5">
    {% if current_user.is_authenticated %}
    <h1 class="mt-5">Hello, {{current_user.username.capitalize()}}.</h1>
    {% endif %}
    <h1 class="my-2">You're at the Home page</h1>
    <p class="mt-3 mb-5"><small class="text-muted">This page is boring. What you want is right below. <br>Or above. Your call.</small></p><br>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('pokemon') }}" style="text-decoration: none;">View Pokémon</a><br>
    {% else %}
    <a href="{{ url_for('login') }}" style="text-decoration: none;">Sign in to view Pokémon</a><br>
    <p class="my-5"><small class="text-muted">New here? <a href="{{url_for('signup')}}" style="text-decoration: none;">Sign up</a></small></p>
    {% endif %}
</div>
{% endblock %}