{% extends "base.html" %}

{% block content %}

    <div class="container text-center">
        <h1 class="my-5">See any PoKémon!</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.name(class="form-label", placeholder="Catch em' all") }}<br></p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
            <p>{{error}}</p>
        </form>
    </div>
    {% if pokemon %}
    <div class="card mx-auto mb-5 border-dark" style="width: 24rem;">
        <img src={{pokemon["f_shiny"]}} class="card-img-top border border-5" alt="pokemon">
        <div class="card-body text-dark bg-light">
          <h2 class="card-title mb-5"><div id="cmon" style="display: inline-block;">{{pokemon['name'].capitalize()}}</div><span style="float: right;"><button id="playsound" type="button" class="btn btn-primary">Hear cry!</button></span></h2>
          <audio id="sound" src="https://play.pokemonshowdown.com/audio/cries/{{pokemon['name']}}.mp3"></audio>
          <script>   
            const mySound = document.getElementById("sound");   
            const correctButton = document.getElementById("playsound");
            correctButton.addEventListener("click", function(){ mySound.play(); });   
          </script> 
          <h5 class="my-2">Main Ability:</h5>
          <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">{{pokemon['abilities'].capitalize()}}</li>
        </ul>
        <h5 class="my-2">Stats:</h5>
        <ul class="list-group list-group-flush">
            {% for stat in pokemon['stats'] %}
            {% for x,y in stat.items() %}
          <li class="list-group-item text-muted">{{x.capitalize()}}: {{y}}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% if pokemon['name'] not in owned %}
          <button class="btn btn-primary mt-2" style="float: right;" onclick="doRequest()">Add to collection!</button>
        {% endif %}
        </div>
      </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
async function doRequest() {

  const elem = document.getElementById('cmon');
  const p_name = elem.innerText
  const data = {name: p_name};

  fetch('http://127.0.0.1:5000/addpokemon', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
})
  .then((response) => response.json())
  .then((data) => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });

  // document.location.reload();
  alert(p_name + " has been added to your collection!");
  document.location.reload();
};
</script>
{% endblock %}