{% extends "base.html" %}

{% block content %}

    <div class="container text-center">
        <h1 class="my-3">Enter a PoKémon!</h1>
        <form action="" method="post" autocomplete="off" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.name(class="form-label", placeholder="Catch em' all") }}<br></p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
            <p>{{error}}</p>
        </form>
    </div>
    {% if pokemon %}
    
    <div class="container">

      {% include "pokemoncard.html" %}
      
      {% if pokemon['name'] not in owned and owned|length < 5 %}
      <div class="container text-center">
        <button class="btn btn-success mt-2" onclick="doRequest()">Catch {{pokemon['name'].capitalize()}}!</button>
      </div>
      {% elif owned|length >=5  %}
      <div class="container text-center">
        <button class="btn btn-danger mt-2 disabled">Collection full.</button>
      </div>
      {% endif %}
    </div>

    {% endif %}
{% endblock %}

{% block script %}
<script>
async function doRequest() {

  const elem = document.getElementById('cmon');
  const p_name = elem.innerText
  const data = {name: p_name};

  fetch('https://pokeflask-7630.onrender.com/addpokemon', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
})
  .then((response) => response.json())
  .then((data) => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });

  // document.location.reload();
  alert(p_name + " has been added to your collection!");
  document.location.reload();
};
</script>
{% endblock %}